.container {
    width: 85%;
    margin: auto;
}
.first {
    display: flex;
    justify-content: space-between;
    font-family: "Poppins", sans-serif;
    margin-bottom: 140px;
    margin-top: 50px;
}
.firstitem {
    font-size: 20px;
    font-weight: 300;
}
.main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Poppins", sans-serif;
    margin-bottom: 130px;
}
ul {
    list-style-type: none;
    padding: 0;
}
.menuLink {
    text-decoration: none;
    color: rgba(150, 150, 150, 1);
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 300;
    cursor: pointer;
}
.menuLink:hover {
    color: black;
}
.titlediv {
    color: rgba(64, 123, 255, 1);
    font-family: "Poppins", sans-serif;
    max-width: 800px;
}
.title {
    font-size: 110px;
    font-weight: 600;
    line-height: 110px;
    text-align: right;
    margin: 0;
}
.descriptiondiv {
    display: flex;
    justify-content: center;
    margin-bottom: 150px;

}
.description {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 300;
    max-width: 500px;
    text-align: center;
}

@media (max-width: 1200px) {
    .title {
        font-size: 50px;
        font-weight: 600;
        line-height: 50px;
    }
}
@media (max-width: 700px) {
    .title {
        font-size: 30px;
        font-weight: 600;
        line-height: 30px;
    }
    .menuLink {
        font-size: 15px;
    }
}