.box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px black solid;
    min-height: 110px;
}
.description {
    width: 30%;
}
.number {
    color: rgba(64, 123, 255, 1);
}
.boxinfo {
    width: 50%;
    display: flex;
    justify-content: space-between;
}