.box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px rgba(217, 217, 217, 1) solid;
    min-height: 110px;
}
.title {
    font-family: "Poppins", sans-serif;
    font-size: 25px;
    font-weight: 300;
}
.description {
    width: 30%;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
}
.number {
    color: rgba(64, 123, 255, 1);
    font-family: "Poppins", sans-serif;
    font-size: 25px;
    font-weight: 300;
}
.boxinfo {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}